<h1>Data Types and Operators</h1>
<h4>Welcome to this lesson on Data Types and Operators! You'll learn about:</h4> 

- <h4>Data Types:</h4> Strings, Integers, Floats, Booleans, Lists, Tuples, Sets, Dictionaries

- <h4>Operators:</h4> Arithmetic, Assignment, Comparison, Logical, Membership, Identity


- Built-In Functions, Compound Data Structures, Type Conversion

<h1>Strings:<h1>

In [8]:
#String: Enclosed textual data within quotes
var_1 = 'Hello World!'
var_2 = "Youtube is Google's video streaming platform"

In [9]:
print(var_1)
#Prints the value of variable

Hello World!

In [10]:
print(len(var_1))
#Prints the length of variable

12

In [11]:
#In python, Indexing starts from 0,1,2,3
print(var_1[10])
#prints character at index 10

d

In [12]:
print(var_1[0:5])
#prints character index 0-4 but 5 isn't included

Hello

In [13]:
print(var_1[6:])
#prints character index 6-last index

World!

###### The above operations using square [] brackets is called slicing

In [14]:
print(var_1.lower()) #Prints strings in lower case

hello world!

In [15]:
print(var_1.upper()) #Prints strings in upper case

HELLO WORLD!

In [21]:
greeting = 'hello'
name = 'harsh akshit'

message_1 = greeting+', '+name+'. Welcome!' #String concatenation
message_2 = '{}, {}. Welcome!'.format(greeting,name)

print(message_1)
print(message_2)

hello, harsh akshit. Welcome!
hello, harsh akshit. Welcome!

<br><br>

## Variable Naming Conventions:**

There are some rules we need to follow while giving a name for a Python variable.

- **Rule-1**: You should start variable name with an alphabet or **underscore(_)** character.
- **Rule-2:** A variable name can only contain **A-Z,a-z,0-9** and **underscore(_)**.
- **Rule-3:** You cannot start the variable name with a **number**.
- **Rule-4:** You cannot use special characters with the variable name such as such as **$,%,#,&,@.-,^** etc.
- **Rule-5**: Variable names are **case sensitive**. For example str and Str are two different variables.
- **Rule-6:** Do not use reserve keyword as a variable name for example keywords like **class, for, def, del, is, else,** **try, from,** etc. more examples are given below and as we go through the course we will come across many more. Creating names that are descriptive of the values often will help you avoid using any of these words.

In [22]:
#Allowed variable names

x=2
y="Hello"
mypython="PythonGuides"
my_python="PythonGuides"
_my_python="PythonGuides"
_mypython="PythonGuides"
MYPYTHON="PythonGuides"
myPython="PythonGuides"
myPython7="PythonGuides"

In [23]:
#Variable name not Allowed

7mypython="PythonGuides"
-mypython="PythonGuides"
myPy@thon="PythonGuides"
my Python="PythonGuides"
for="PythonGuides"

#It shows invalid syntax. 
#It will execute one by one and will show the error.

SyntaxError: invalid syntax (<ipython-input-23-23d4199b4438>, line 3)

# Integers and Floats:
##### Working with numeric data

### Arithmetic Operators:
#### Addition:           7+5
#### Subtraction:     7-5
#### Multiplication:  7*5
#### Division:           7/5 
#### Floor Division: 7//5 -> Drops decimal value
#### Exponent:         7**5
#### Modulus:           7%5

In [25]:
abs(-11) #Returns absolute value of integer data

11

In [27]:
num = 1
num = num+1
num += 1
print(num)

3

In [28]:
round(8.63) # round to nearest integer

9

In [29]:
round(8.63,1) #rounds till first decimal point

8.6

### Comparison Operators:
#### Equal:                   7==5
#### Not Equal:            7!=5
#### Greater than:       7>5
#### Less than:            7<5 
#### Greater or Equal: 7>=5
#### Less or Equal:      7<=5

In [30]:
num_1 = 7
num_2 = 5
print(num_1 == num_2)

False